{% load static %}
<html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>IT-Online</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icons -->
<link rel="icon" href="{% static 'images/fevicon/fevicon.png'%}" type="image/gif" />
<!-- bootstrap css -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
<!-- Site css -->
<link rel="stylesheet" href="{% static 'css/style.css'%}" />
<!-- responsive css -->
<link rel="stylesheet" href="{% static 'css/responsive.css'%}" />
<!-- colors css -->
<link rel="stylesheet" href="{% static 'css/colors1.css'%}" />
<!-- custom css -->
<link rel="stylesheet" href="{% static 'css/custom.css'%}" />
<!-- wow Animation css -->
<link rel="stylesheet" href="{% static 'css/animate.css'%}" />
<!-- revolution slider css -->
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css'%}" />
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body id="default_theme" class="it_service">
<!-- loader -->

<!-- end loader -->
<!-- header -->
<header id="default_header" class="header_style_1">
  <!-- header top -->

  <!-- end header top -->
  <!-- header bottom -->
  <div class="header_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
          <!-- logo start -->
          <div class="logo"> <a href="{% url 'home' %}"><h1>IT-ONLINE</h1></a> </div>
          <!-- logo end -->
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <!-- menu start -->
          <div class="menu_side">
            <div id="navbar_menu">
              <ul class="first-ul">
                <li> <a class="active" href="{% url 'home'%}">Home</a></li>
                <li> <a href="it_service.html">Tech-Learning</a></li>
                <li> <a href="it_service.html">Projects</a></li>
                <li><a href="it_about.html">Tech-Blogs</a></li>
                <li> <a href="it_service.html">Tech-News</a></li>
              </ul>
            </div>
            <div class="search_icon">
              <ul>
                <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header bottom end -->
</header>
<!-- end header -->

{% block content %} {% endblock content %}
<!-- footer -->
<footer class="footer_style_2">
  <div class="container-fuild">
    <div class="row">

      <div class="footer_blog">
        <div class="row">
          <div class="col-md-4">
            <div class="main-heading left_text">
              <h2>It Next Theme</h2>
            </div>
            <p>Follow Us</p>
            <ul class="social_icons">
              <li class="social-icon fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li class="social-icon tw"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="social-icon gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="main-heading left_text">
              <h2>Additional links</h2>
            </div>
            <ul class="footer-menu">
              <li><a href="it_about.html"><i class="fa fa-angle-right"></i> About us</a></li>
              <li><a href="it_about.html"><i class="fa fa-angle-right"></i> News</a></li>
              <li><a href="it_about.html"><i class="fa fa-angle-right"></i> Blogs</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="main-heading left_text">
              <h2>Contact Information</h2>
            </div>
            <ul class="footer-menu">
              <li><a href="it_about.html"><i class="fa fa-angle-right"></i> 92321123321</a></li>
              <li><a href="it_about.html"><i class="fa fa-angle-right"></i> online@gmail.com</a></li>

            </ul>
          </div>

        </div>
      </div>
      <div class="cprt">
        <p>ItNext © Copyrights 2019 Design by html.design</p>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- js section -->
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- menu js -->
<script src="{% static 'js/menumaker.js'%}"></script>
<!-- wow animation -->
<script src="{% static 'js/wow.js'%}"></script>
<!-- custom js -->
<script src="{% static 'js/custom.js'%}"></script>
<!-- revolution js files -->
<script src="{% static 'revolution/js/jquery.themepunch.tools.min.js'%}"></script>
<script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js'%}"></script>
<script src="{% static 'revolution/js/extensions/revolution.extension.video.min.js'%}"></script>
<!-- map js -->
<script>

<!-- google map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
<!-- end google map js -->
</body>
</html>
